/CONSOLA/nbproject/private/
/CONSOLA/build/
/VENTANA/nbproject/private/
/VENTANA/build/
/Operadores_1/nbproject/private/
/operadores_2/nbproject/private/
/operadores2/nbproject/private/
/operadores2/build/
/operadores3/nbproject/private/
/operadores3/build/
/operaciones4/nbproject/private/
/operaciones4/build/
/sentencias1/nbproject/private/
/sentencias1/build/
/sentencias2/nbproject/private/
/sentencias2/build/
/variables_2/nbproject/private/
/variables_2/build/
/variables2/nbproject/private/
/variables2/build/
/promedioFor/nbproject/private/
/promedioFor/build/
/variables_3/nbproject/private/
/variables_3/build/
/sentencias_3/nbproject/private/
/sentencias_4/nbproject/private/
/ciclos_1/nbproject/private/
/ciclos_1/build/
